// .ant-btn-primary{
//     background-color: #1677ff!important;
// }
.ant-layout .ant-layout-sider{
    background: #063253;
    .ant-menu{
        background: #063253;
    }
}
.ant-layout-sider-trigger {
    display: none;
}

.layout__content{
    min-height: calc(100vh - 9rem);
}

.ant-modal .ant-modal-content{
    padding: 0px;
}
.ant-modal-footer{
    display: flex;
    justify-content: center;
    padding-bottom: 22px;
}
