// .ant-btn-primary{
//     background-color: #1677ff!important;
// }
.ant-layout .ant-layout-sider {
  background: #063253;
  .ant-menu {
    background: #063253;
  }
}
.ant-layout-sider-trigger {
  display: none;
}

.layout_content-wrap {
  height: calc(100vh - 5rem);
  overflow: auto;

  .layout__content {
    min-height: calc(100vh - 9rem);
  }
}
